<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="JWT.Audience" value="http://www.myAudience.com" />
    <add key="JWT.Issuer" value="Company.Application.Issuer" />
    <add key="JWT.ExpiresInMinutes" value="60" />
    <add key="JWT.RsaJsonFileName" value="rsaKey.json" />
    <add key="JWT.HmacSecretKey" value="db4OIsj+BXE9NZDy0t8W4TcNekrF+2d/1sFnWG4HnV8TZY40iTOdtVWJG8abWvB1GlOgJuQZdcF2Luqm/hccMw==" />
    <!-- JWT.Client trust configuration (This should be configs on the client consuming app to validate the token) -->
    <add key="JWT.Client.Audience" value="http://www.myAudience.com" />
    <add key="JWT.Client.Issuer" value="Company.Application.Issuer" />
    <add key="JWT.Client.HmacSecretKey" value="db4OIsj+BXE9NZDy0t8W4TcNekrF+2d/1sFnWG4HnV8TZY40iTOdtVWJG8abWvB1GlOgJuQZdcF2Luqm/hccMw==" />
    
  </appSettings>
</configuration>